<!--
  Generated template for the UserDetailInfoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>个人信息</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-grid class="border-bottom">
    <ion-row>
      <ion-col col-4 text-center tappable>
        <img class="avtor" *ngIf="user?.headimgurl" src="{{user.headimgurl}}">
        <img class="avtor" *ngIf="!user?.headimgurl" src="../../assets/imgs/usercenter/avater.png">
      </ion-col>
      <ion-col>
        <h2>{{userInfo?.account}}</h2>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-item tappable (click)="sexActionSheet()">
    <h2>性别
      <span style="margin-left: 116px">{{params.sex}}</span>
    </h2>
  </ion-item>

  <ion-item>
    <ion-label fixed>年龄</ion-label>
    <ion-input float-right type="text" [(ngModel)]="params.age"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label fixed>手机号</ion-label>
    <ion-input float-right type="text" [(ngModel)]="params.phoneNumber"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>基础疾病</ion-label>
    <!--multiple="true"多选-->
    <ion-select [(ngModel)]="params.basicIllness" okText="确定" cancelText="取消" multiple="true">
      <ion-option value="高血压">高血压</ion-option>
      <ion-option value="冠心病">冠心病</ion-option>
      <ion-option value="脑卒中">脑卒中</ion-option>
      <ion-option value="糖尿病">糖尿病</ion-option>
      <ion-option value="肿瘤">肿瘤</ion-option>
      <ion-option value="无">无</ion-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>接种疫苗</ion-label>
    <ion-select [(ngModel)]="params.vaccination" okText="确定" cancelText="取消" multiple="true">
    <!--multiple="true"-->
      <ion-option value="卡介苗">卡介苗</ion-option>
      <ion-option value="百白破">百白破</ion-option>
      <ion-option value="乙肝">乙肝</ion-option>
      <ion-option value="流脑">流脑</ion-option>
      <ion-option value="流感">流感</ion-option>
      <ion-option value="无">无</ion-option>
    </ion-select>
  </ion-item>


  <button class="mybutton" ion-button block tappable (click)="save()">保 存</button>

</ion-content>
