<ion-header>
  <ion-toolbar>
    <ion-buttons start>
      <!--注释掉图片,布局有问题-->
      <!--<img style=" width: 70px;position: relative;left: -8px;" src="../../assets/imgs/home/logo.png">-->
    </ion-buttons>
    <ion-title>我的</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid tappable (click)="toPageLogin()" style="background: url(../../assets/imgs/usercenter/userback.png)">
    <!--<ion-row>-->
    <!--<ion-col text-center>-->
    <!--<img style=" width: 70px; position: fixed; left: -8px;top: 6px;" src="assets/img/home/logo.png">-->
    <!--<ion-title>北京市境外安全服务平台</ion-title>-->
    <!--</ion-col>-->
    <!--</ion-row>-->
    <ion-row>
      <ion-col text-center>
        <img class="avtor" *ngIf="user?.headimgurl&&isLogin" src="{{user?.headimgurl}}">
        <img class="avtor" *ngIf="!user?.headimgurl||!isLogin" src="../../assets/imgs/usercenter/avater.png">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center style="color: white;padding-top: 0px">
        <p style="margin-top: 0px;" *ngIf="!user?.nickname&&isLogin" class="f16 fontweight">{{user.account}}</p>
        <p style="margin-top: 0px;" *ngIf="user?.nickname&&isLogin" class="f16 fontweight">{{user.nickname}}</p>
        <ion-label style="margin-top: 0px;" *ngIf="!isLogin">未登录，点击登录</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list inset>

    <button ion-item (click)="toPageFeedBack()" *ngIf="isLogin">
      <ion-icon style="color: #2186ff" name="cloud-outline" item-start></ion-icon>
      意见反馈
    </button>

    <button ion-item (click)="toPageAppAbout()">
      <ion-icon style="color: #2186ff" name="help-circle-outline" item-start></ion-icon>
      关于
    </button>

    <button ion-item (click)="changePassword()" *ngIf="!user?.nickname&&isLogin">
      <ion-icon style="color: #2186ff" name="checkmark-circle-outline" item-start></ion-icon>
      修改密码
    </button>

    <button ion-item (click)="detectVersion()">
      <ion-icon style="color: #2186ff" name="code-working" item-start></ion-icon>
      版本检测
    </button>

    <button ion-item (click)="logout()" *ngIf="isLogin">
      <ion-icon style="color: #2186ff" name="log-out" item-start></ion-icon>退出登录
    </button>

  </ion-list>
</ion-content>
