<meta http-equiv="Access-Control-Allow-Origin" content="*" xmlns="http://www.w3.org/1999/html"/>
<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button (click)="cityChoose()" style="color:#FFFFFF;">
        <ion-icon name="pin" small></ion-icon ><span style="font-size: small">{{localCityNameSub}}</span>
      </button>
    </ion-buttons>
   <ion-title>防<img src="../../assets/imgs/home/fyzpng.png" style="width:15px;height:15px;border-radius:88px;" />站</ion-title>
    <ion-buttons end>
      <button ion-button (click)="weatherDetail(weatherObject)" style="color:#FFFFFF;">
        <span style="font-size: small">{{cityWeather}}</span><ion-icon name={{weatherIcon}}></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content no-padding style="background-color: #fff;">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <my-refresher-content></my-refresher-content>
  </ion-refresher>

  <div class="topInfo">
    <!--<div #EchartsContent class="EchartsDiv" (click)="selectDisease()">-->
    <div #EchartsContent class="EchartsDiv">
    </div>
    <!--ionic官方时间选择控件-->
    <ion-datetime style=" position: relative" class="datetimeStyle" max={{datePickerMax}} displayFormat="YYYY-MM-DD" cancelText="取消" doneText="确认" [(ngModel)]="event.time" (ngModelChange)="changeDate($event)"></ion-datetime>

  </div>

  <!--<button ion-button block color="danger" (click)="getDate()">
    日期
  </button>-->

  <!--新的echarts图-->
  <!--<span class="block_one"><span style="display: inline-block;width:10px;height:10px;background-color:#05FA1D"></span><span>流感</span></span>
  <span class="block_two"><span style="display: inline-block;width:10px;height:10px;background-color:#FBC402"></span><span>登革热</span></span>
  <span class="block_three"><span style="display: inline-block;width:10px;height:10px;background-color:#FD5901"></span><span>高</span></span>
  <span class="block_four"><span style="display: inline-block;width:10px;height:10px;background-color:#FD0000"></span><span>极高</span></span>-->
  <!--疾病名称-->
  <!--<span class="diseasename1"><span id="diseasename1" style="display: inline-block;width:10px;height:10px;"></span><span (click)="diseaseClick(139)">切换病种</span></span>-->
  <!--<span class="diseasename2"><span id="diseasename2" style="display: inline-block;width:10px;height:10px;"></span><span (click)="diseaseClick(127)">登革热</span></span>-->
  <span class="diseasename1"><span (click)="selectDisease()">切换病种</span></span>

  <div class="space"></div>
    <ion-list>
      <!--框架的城市选择器-->
      <!--<ion-item>
        <ion-label>选择城市</ion-label>
        <ion-multi-picker id="cities" [separator]="'-'" cancelText="取消" doneText="确认" [(ngModel)]="eventcity.text" (ngModelChange)="changeCity($event)" item-content  [multiPickerColumns]="cityColumns"></ion-multi-picker>
      </ion-item>-->

      <ion-item no-lines style="border-bottom: 0.55px solid #c8c7cc;" text-wrap>
        <div class="message"></div><b style="font-size: 16px;color: #2186ff;margin-left:10px;">健康提示&nbsp;&nbsp;&nbsp;&nbsp;<ion-icon name="return-right"></ion-icon></b>
        <br>
        <p class="p">

        <!--<span *ngIf="di">流感流行强度较低,可正常进行户内外活动。</span>-->
        <!--<span *ngIf="zhong">流感流行强度中等,建议少去人群密集的地方。</span>-->
        <!--<span *ngIf="gao">流感流行强度较高,建议少去人群密集的地方,在人群密集的室内应当保持空气流通。</span>-->
        <!--<span *ngIf="jigao">流感流行强度极高,建议接种流感疫苗,接种疫苗后2~4周即开始起保护作用。</span>-->
          <span *ngIf="di">{{dijy}}</span>
          <span *ngIf="zhong">{{zhongjy}}</span>
          <span *ngIf="gao">{{gaojy}}</span>
          <span *ngIf="jigao">{{jigaojy}}</span>

        </p>
      </ion-item>

      <!--<ion-item *ngFor="let i of listData" (click)="getDetail(i)">
        <div class="message"></div><b style="font-size: 16px;color: #E6B531;margin-left:10px;">{{i.name}}</b>
        <div><div style="float: left;">{{i.one}}</div> <div style="float: right">{{i.two}}</div></div>
      </ion-item>-->

      <ion-grid>
        <ion-row>
          <ion-col col-3 text-center tappable (click)="getDetail(listData,1)">
            <img class="menuimg" src="assets/imgs/home/cry.png">
            <p>传染源</p>
          </ion-col>
          <ion-col col-3 text-center tappable (click)="getDetail(listData,2)">
            <img class="menuimg" src="assets/imgs/home/cbtj3.png">
            <p>传播途径</p>
          </ion-col>
          <ion-col col-3 text-center tappable (click)="getDetail(listData,3)">
            <img class="menuimg" src="assets/imgs/home/ygrq.png">
            <p>易感人群</p>
          </ion-col>
          <ion-col col-3 text-center tappable (click)="getDetail(listData,4)">
            <img class="menuimg" src="assets/imgs/home/yfcs.png">
            <p>预防措施</p>
          </ion-col>
        </ion-row>

      </ion-grid>

      <ion-item no-lines (click)="medicalSearch()" style="border-bottom: 0.55px solid #c8c7cc;">
        <div class="message"></div><b style="font-size: 16px;color: #2186ff;margin-left:10px;">医疗机构查询&nbsp;&nbsp;&nbsp;&nbsp;<ion-icon name="search"></ion-icon></b>
      </ion-item>
      <!--<button ion-item (click)="medicalSearch()" >-->
        <!--<ion-icon style="color: #2186ff" name="search" item-start></ion-icon>-->
        <!--医疗机构查询-->
      <!--</button>-->
      <div class="bottomInfo">
        <span class="fxzs">
        <span class="bottomInfoOne" *ngIf="isEvaluation"><b style="font-size: 16px;">我的感染风险指数</b></span><span class="riskIndex" *ngIf="isEvaluation">：{{index}}
        <br /></span>
        </span>
        <span class="dtandcf">
        <span style="color:#000;" *ngIf="isEvaluation" (click)="dynamicCurve()"><button ion-button outline small>查看动态曲线&nbsp;&nbsp;&nbsp;<ion-icon name="pulse"></ion-icon></button></span>
        <span style="color:#000;" *ngIf="isEvaluation" (click)="prescription()"><button ion-button color="#2186ff" outline small>查看防疫处方&nbsp;&nbsp;&nbsp;<ion-icon name="paper"></ion-icon></button></span>
        </span>
          <br>
        <span class="bottomInfoTwo" *ngIf="!isEvaluation" (click)="evaluation()"><button ion-button round small>传染风险评估&nbsp;&nbsp;&nbsp;<ion-icon name="create"></ion-icon></button></span>
        <span class="bottomInfoTwo" *ngIf="isEvaluation" (click)="evaluation()"><button ion-button round small>重新评估&nbsp;&nbsp;&nbsp;<ion-icon name="create"></ion-icon></button></span>

      </div>




    </ion-list>



</ion-content>
