page-home {
  .topInfo {
    height: 35%;
    //background: rgba(15,153,255,0.1);
    border-bottom: 0.55px solid #c8c7cc;//和下面的医疗机构查询样式保持一致
    text-align: center;
    position: relative;
    //background: url("../../assets/imgs/timg2.jpeg");
    //图片自动放缩
    //background-size: cover;
  }
  .EchartsDiv {
    width: 100%;
    height: 80%;
  }
  .datetimeStyle{
    height: 20%;
    text-align:center;
    color: #4f4f4f;
    font-size: 1.5em;
  }

  .middleInfo {
    border: 1px solid #fff;
    height: 50%;
    margin-top: 10px;
    text-align: center;
    box-shadow: 0px 0px 20px 2px #aaa; //X轴偏移量 Y轴偏移量 阴影模糊半径 阴影扩展半径 阴影颜色
  }
  .middleInfoDetail {
    border: 1px solid #fff;
    width: 50%;
    height: 50%;
    float: left;
  }
  .bottomInfo {
    height: 25%;
    width: 100%;
    text-align: center;
    position: absolute;
  }
  .bottomInfoOne {
    color: #2186ff;
    font-size: 17px;
  }
  .bottomInfoTwo {
    color: #D67739;
    font-size: 20px;
    display:inline-block;
    position: absolute;
    bottom: 0%;
    left: 0px;
    right: 0px;
    height: 30%;
  }
  //风险指数
  .fxzs{
    position: absolute;
    left: 0px;
    right: 0px;
    height: 30%;
    bottom: 60%;
  }
  //动态曲线和防疫处方
  .dtandcf{
    position: absolute;
    bottom: 30%;
    left: 0px;
    right: 0px;
    height: 30%;
  }
  .riskIndex{
    color: #2186ff;
    font-size: 20px;
  }

  //中间部分布局样式
  .message{
    width: 3px;
    background: #2186ff;
    //background: blue;
    height: 16px;
    margin-left: 0px;
    border-radius: 5px;
    display: -webkit-inline-box;
  }
  .space{
    height: 3%;
  }


  //色块
  .block_one{
     z-index: 999;
     position: absolute;
     left: 86%;
     top: 5%;
   }
  .block_two{
    z-index: 999;
    position: absolute;
    left: 86%;
    top: 10%;
  }
  .block_three{
    z-index: 999;
    position: absolute;
    left: 86%;
    top: 15%;
  }
  .block_four{
    z-index: 999;
    position: absolute;
    left: 86%;
    top: 20%;
  }
  //病种
  .diseasename1{
    z-index: 999;
    position: absolute;
    left: 1%;
    top: 1%;
  }
  .diseasename2{
    z-index: 999;
    position: absolute;
    right: 1%;
    top: 1%;
  }

  //图片大小设置
  .menuimg {
    width: 46px;
    height: 46px;
  }

  //根据评估设置
  .p{
    font-size: 16px;
    color: gray;
    margin-left: 10px;
  }

}
